body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(16, 71, 101);
    margin: 0;
    padding: 0;
}
.container{
    max-width: 400px;
    margin: 120px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(11, 1, 22);
    text-align: center;
}
h1{
    color:#333;
    font-size: 24px;
    margin-bottom: 20px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
input[type="text"]{
    flex-grow: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 0;
    outline: none;
    transition: border-color 0.3s ease;
}
input[type="text"]:focus{
    border-color: blue;
}
button{
    padding: 10px 20px;
    background-color: rgb(47, 47, 250);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-style: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background: rgb(21, 116, 240);
}
ul{
    list-style: none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #837d7d;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgb(11, 1, 22);
}
.delete-button{
    background-color: rgba(238, 2, 2, 0.961);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.delete-button:hover{
    background-color: rgb(255, 77, 77);
}
.edit-button{
    background-color: rgb(198, 175, 0);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 12px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 10px;
    transition:  background-color 0.3s ease;
}
.edit-button:hover{
    background-color: yellow;
}